<div class="router-container">
  <button
    type="button"
    class="btn btn-outline-secondary route-btn"
    routerLink="/home"
  >
    Home
  </button>
  <button
    type="button"
    class="btn btn-outline-secondary route-btn"
    routerLink="/addevent"
  >
    Add Event
  </button>
  <button
    type="button"
    class="btn btn-outline-secondary route-btn"
    routerLink="/eventlist"
  >
    Event List
  </button>
  <button
    type="button"
    class="btn btn-outline-secondary route-btn"
    routerLink="/contact"
  >
    ContactUs</button
  ><br />
</div>
