img {
  padding-top: 42%;
  width: 100%;
  max-width: 100%;
  background-size: cover;
}
.event-home-container {
  background: url("https://images.luxuryescapes.com/q_auto:good,c_fill,g_auto,w_1600,ar_16:9/sy6ds5s1e5jxiyivucht.webp")
    center no-repeat;
  height: 80vh;
  width: 100%;
}
span {
  align-items: center;
  justify-content: center;
  font-style: oblique;
  font-size: 80px;
  font-weight: 100px;
  color: white;
}
