<div class="top-bar-container">
  <span>EVENT MANAGEMENT SYSTEM</span>
</div>
<marquee class="marque-container">Welcome To Event Management System</marquee>
<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-3 left-container">
        <app-event-navbar></app-event-navbar>
      </div>
      <div class="col-md-9 right-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<footer class="row">
  <p>@Srinath Aitipamula</p>
</footer>
